* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Hanken Grotesk";
  src: url(../assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
  font-weight: 500 700 800;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(221, 100%, 96%);
}
.card {
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  width: 43.75rem;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.05);
  font-family: "Hanken Grotesk";
}
.card__left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  gap: 20px;
  border-radius: 20px;
  text-align: center;
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
}

.left {
  color: hsl(241, 100%, 89%);
}
.score-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
}
.score-main {
  color: hsl(0, 0%, 100%);
  font-size: 50px;
  font-weight: 800;
}
.total {
  margin-top: -55px;
  color: hsl(241, 100%, 89%);
  font-size: 18px;
  font-weight: 400;
}
h3 {
  margin-top: 20px;
  color: hsl(0, 0%, 100%);
  font-weight: 800;
}
.note {
  margin-top: 10px;
  color: hsl(241, 100%, 89%);
  font-size: 18px;
  font-weight: 400;
}
.card__right {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.right {
  color: hsl(224, 30%, 27%);
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  padding: 15px 20px;
  font-weight: 600;
}
.summary-left {
  display: flex;
  align-items: center;
  gap: 12px;
}
li:nth-child(1) {
  background-color: hsla(0, 100%, 67%, 0.1);
}
li:nth-child(1) span {
  color: hsl(0, 100%, 67%);
}
li:nth-child(1) .score {
  color: hsl(224, 30%, 27%);
}
li:nth-child(2) {
  background-color: hsl(39, 100%, 56%, 0.1);
}
li:nth-child(2) span {
  color: hsl(39, 100%, 56%);
}
li:nth-child(2) .score {
  color: hsl(224, 30%, 27%);
}
li:nth-child(3) {
  background-color: hsl(166, 100%, 37%, 0.1);
}
li:nth-child(3) span {
  color: hsl(166, 100%, 37%);
}
li:nth-child(3) .score {
  color: hsl(224, 30%, 27%);
}
li:nth-child(4) {
  background-color: hsl(234, 85%, 45%, 0.1);
}
li:nth-child(4) span {
  color: hsl(0234, 85%, 45%);
}
li:nth-child(4) .score {
  color: hsl(224, 30%, 27%);
}
button {
  cursor: pointer;
  width: 100%;
  padding: 15px 20px;
  border-radius: 40px;
  background-color: hsl(224, 30%, 27%);
  border: none;
  color: hsl(0, 0%, 100%);
}
button:hover {
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
}
@media (max-width: 600px) {
  body {
    height: auto;
    padding: 0;
  }
  .card {
    flex-direction: column;
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
}
